@import '../../styles/settings.scss';

.navElements {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	i {
		color: $color-light;
		font-size: 24px;
	}

	a {
		padding: 0 8px;
		text-decoration: none;
		color: $color-light;
		font-family: $font-text;
		font-size: ($base-size * 1.6);
		font-weight: 800;
	}
}

.navbar {
	background-color: darken($color-dark, 3%);
	padding: 1px;

	ul {
		list-style: none;
		margin: 0;
	}
}

.navLinks {
	display: flex;
}

.linkActive {
	color: $color-warning !important;
}
